!!!
html
  head
    title= title

  body
    h1= title

    if (!messages_rendered)
      h3 Raw
      // Raw Messages `require('express-messages-bootstrap')`
      ul
        each message in messages
          li= message

    if (messages_rendered)
      h3 Rendered
      // Rendered Messages `require('express-messages-bootstrap').with({should_render:true})`
      div!= rmessages()
    